<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In - GasConnect</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://img.icons8.com/external-vectorslab-flat-vectorslab/53/external-Fire-security-vectorslab-flat-vectorslab.png" alt="external-Fire-security-vectorslab-flat-vectorslab"
      
      type="image/x-icon"
    >
  </head>
  <body class="flex flex-col min-h-screen bg-gray-50 dark:bg-gray-900 text-gray-900 dark:text-gray-100">

    <!-- Main Content -->
<main
      class="flex-grow flex items-center justify-center px-4 lg:px-4"
    >
      <div class="max-w-md w-full space-y-8">
        <div>
          <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
            Super User
          </h2>
          <p class="mt-2 text-center text-sm text-gray-600">
            This page is exclusively for Super Users who have maintenance access to this web application.
          </p>
        </div>
        <form method="POST">

          <div class="mt-8 space-y-6" >
          
            <div class="rounded shadow-sm -space-y-px ">
              <div class="mb-3">
                <label  class="sr-only">Username</label>
                <input
                  
                  name="username"
                  type="text"
                  
                  required
                  class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="Username"
                />
              </div>
              <div >
                <label  class="sr-only">Password</label>
                <input
                  
                  name="password"
                  type="password"
                  required
                  class="appearance-none rounded relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900  focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
                  placeholder="Password"
                />
              </div>
            </div>
            <div>
              <button
                type="submit"
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                Sign In
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>
    

  </body>

</html>
